@{
    Layout = "Shared/_Layout.cshtml";
}
<div class="row">
    @if(Model["Flights"] == null)
    {
        <p>There are no flights available</p>
    }
    else
    {
        @foreach(var flight in Model["Flights"])
        {
            <div class="flights z-depth-4">
                <div class="row valign-wrapper">
                    <p class="flow-text col s4">Flight Number: @flight.GetFlightNum()</p>
                    <p class="col s2">Departure: @flight.GetCities()[0].GetName()</p>
                    <p class="col s2">Arrival: @flight.GetCities()[1].GetName()</p>
                    <p class="col s2">Status: @flight.GetStatus()</p>
                    <p class="col s2">Time: @flight.GetTime()</p>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <form action="/edit/@flight.GetId()" method="post">
                            <input type="hidden" name="_method" value="PATCH">
                            <select name="status">
                                <option disabled selected>Update Flight Status</option>
                                <option>On time</option>
                                <option>Delayed</option>
                                <option>Cancelled</option>
                            </select>
                            <button type="submit" class="btn deep-orange lighten-1">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col s3">
                        <form action="/delete/@flight.GetId()" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn deep-orange lighten-1">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}
